body {
	text-align: center;
}

h1 {
	color: darkblue;
	margin: 30px;
	text-shadow: white 1px 1px;
}

h4 {
	color: red;
	padding: 50px;
	font-size: 20px;
}

p {
	margin: 100px;
	padding: 10px;
	font-size: 20px;
}